  <div class="mosaic-gallery">
  
    <div class="mosaic-container h-2">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-1.jpg" %>
        </div>
      </div>
    </div>

    <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-2.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>


    <div class="mosaic-container w-3 h-3">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-3.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>

    <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-4.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>


    <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-5.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>


    <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-6.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>


    <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-7.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>

    <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-8.jpg", class:"preview-image"%>
        </div>
      </div>
    </div>

    <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-9.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>

    <div class="mosaic-container h-4 ">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-10.jpg", class:"preview-image"%>
        </div>
      </div>
    </div>

    <div class="mosaic-container w-2 h-3">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-12.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>

    <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-14.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>
     <div class="mosaic-container h-4 h-3">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-15.jpg", class:"preview-image"%>
        </div>
      </div>
    </div>

     <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-16.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>

     <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-17.jpg", class:"preview-image"%>
        </div>
      </div>
    </div>

     <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-18.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>

     <div class="mosaic-container">
      <div class= "mosaic-item">
        <div class="mosaic-image">
          <%= image_tag "img-19.jpg", class:"preview-image" %>
        </div>
      </div>
    </div>
  </div>
